<div class="container"> 
  
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row">
      
      <div class="col-md-7">
      
        
        <section>
            
          <div class="carousel">
              <% number = 1 %>
              <% if @right.images.attached? %>
                <% @right.images.each do |image| %>
                  <input type="radio" name="slides" id="slide-<%= number %>">
                  <% number += 1%>
                <% end %>
              <% else %>
                <% @right.post.images.each do |image| %>
                  <input type="radio" name="slides" id="slide-<%= number %>">
                  <% number += 1%>
                <% end %>
              <% end %>
              
              <ul class="carousel__slides">
                <% if @right.images.attached? %>
                  <% @right.images.each do |img| %>
                    <li class="carousel__slide">
                        <figure>
                          <div class="card border-blue">
                            <%= image_tag img.variant(resize_to_fill: [1580, 1080]), class: "card-img-top" %>
                          </div>
                        </figure>
                    </li>
                  <% end %>
                <% else %>
                  <% @right.post.images.each do |img| %>
                    <li class="carousel__slide">
                        <figure>
                          <div class="card border-blue">
                            <%= image_tag img.variant(resize_to_fill: [1580, 1080]), class: "card-img-top" %>
                          </div>
                        </figure>
                    </li>
                  <% end %>
                <% end %>
              </ul> 
              
              <ul class="carousel__thumbnails">
                <div class="container"> 
                  <div class="row">  
                    <% i = 1 %>
                    <% if @right.images.attached? %>
                      <% @right.images.each do |photo| %>
                        <li>
                            <label for="slide-<%= i %>"><%= image_tag photo.variant(resize_to_fill: [1180, 1080]) %></label>
                            
                              
                            
                        </li>
                        <% i += 1%>
                      <% end %>
                    <% else %>
                      <% @right.post.images.each do |photo| %>
                        <li>
                            <label for="slide-<%= i %>"><%= image_tag photo.variant(resize_to_fill: [1180, 1080]) %></label>
                            
                              
                            
                        </li>
                        <% i += 1%>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </ul>
              
          </div>
            
        </section>
  
      </div>
      <div class="col-md-5 bg-black">
        <div class="card-body">
          <%= link_to user_path(@zipfile.user), class: "black-color no-text-decoration" do %>
                   
                      
                      
            <% if @zipfile.user.profile_photo.attached? %>

              <%= image_tag @zipfile.user.profile_photo.variant(resize_to_fill: [1080, 1080]), class: "post-profile-icon" %>
            <% else %>
              <img src="/assets/avatar.png" class="post-profile-icon" />
            <% end %>
            <span class="white-color"><strong><%= @zipfile.user.name%></strong></span>
              
            
          <% end %>
          
          
         
          <br>
          <br>
            <h6><span class="white-color"><strong>依頼内容:</strong></span></h6>
            <h5><span class="white-color"><strong><%= @right.content%></strong></span></h5>
          </br>
          <% if current_user%>
            <% if current_user == @zipfile.user || @right.sympathies.pluck(:user_id).include?(current_user.id)%>
              <br>

                <td>
                  <%= link_to rails_blob_path(@zipfile.file, disposition: "attachment") do %>
                    
                    <h4><strong><span class="link-color"><i class="fas fa-cloud-download-alt"></i>zipfileダウンロード</span></strong></h4>
                  <% end %>
                </td>
              </br>
            <% else %>

            <% end %>
          <% end %>
          

        
          



          <br>
            <% if @zipfile.user == current_user%>
              <%= link_to new_review_path(@right), class: "black-color no-text-decoration","data-turbolinks": false do %>
                <div class="text-center">
                  <button type="button" class="btn btn-warning text-center"><span class="white-color">作品を共有する</span></button>
                </div>
              <% end %>
            <% elsif current_user && @right.sympathies.pluck(:user_id).include?(current_user.id)%>
              <%= link_to new_review_path(@right), class: "black-color no-text-decoration" ,"data-turbolinks": false do %>
                <div class="text-center">
                  <button type="button" class="btn btn-warning text-center"><span class="white-color">感想を共有する</span></button>
                </div>
              <% end %>
            <% else %>
            <% end %>
          </br>
        </div>

      </div>
    </div>
  </div>
  
</div>




