
<div class="text-center bg-mario">
　 <div class="text-center">
    <br>
    
                  
                  
                  
    <% if @user.profile_photo.attached? %>

      <%= image_tag @user.profile_photo.variant(resize_to_fill: [1080, 1080]), class: "round-img-show" %>
    <% else %>
      <img src="/assets/avatar.png" class="round-img-show" />
    <% end %>
    
  </div>
  <br>
  <h4 class="amatic"><strong><%= @user.name %></strong></h4>
  <% psum = Csupport.where(owner: @user.id).pluck(:point).sum %>
  <% pzsum = Pz.where(owner:@user.id).pluck(:point).sum%>
  <h4><strong>獲得ポイント： <%= psum + pzsum%>pt</strong></h4>
  <small><strong><%= @user.info%></strong></small>
  
  <% if current_user != @user %>
    <%= render 'relationships/follow_button', user: @user %>
  <% else %>
    <br>
      <%= link_to "プロフィール編集", edit_user_registration_path, "data-turbolinks": false, class: "button" %>
    </br>
  <% end %>
</div>


<br>
<br>
<% if @posts.first.nil? %>
  <div class="text-center">
    <strong>まだ投稿はありません</strong>
  </div>
<% end %>

<div id = "row-padding">
  <div class="row">
    <div class="col-lg-2 col-12">
      <p class="sample"></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to "投稿作品", user_path(@user),class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "共感購入作品", user_sympathy_path(@user),class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "権利購入作品", user_right_path(@user),class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "注文依頼一覧", user_wish_path(@user),class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "応援購入", user_support_path(@user),class: "black-color cf no-text-decoration"%></li>
      </ul>
    </div>
    <div class="col-lg-10 col-12">
      <div class="text-center">
        
        <br>
        
        <div class="card-group">
          <% if @posts.first %>
            <% @posts.each do |obj| %>
              
              <div class="col-lg-3 col-4">
                  
                    <div class="card border-blue">
                      
                      
                      <%= link_to post_path(obj) do %>
                        <% if obj.images.attached? %>
                          <%= image_tag obj.images.first.variant(resize_to_fill: [1080, 1080]), class: "card-img-top" %>
                        <% end %>
                      <% end %>
                      
                      
                    </div>
                  
              </div>
                            
            <% end %>
          
          <% end %>
          
        </div> 
      </div>
    </div>
  </div>
</div>
<br>
<br>

<%= javascript_pack_tag 'effect' %>
