
<nav>
  
  <%= link_to root_path,"data-turbolinks": false do%>
    <h2 class="text-center bold"><span class="orange-color">M</span>odel<span class="blue-color">M</span>e</h2>
  <% end %>
  <div class="menu">
      <div class="bar bar1"></div>
      <div class="bar bar2"></div>
      <div class="bar bar3"></div>
  </div>

  <ul class="nav-links">
      <li><a href="/posts">ホーム</a></li>
      <li><a href="/reviews">レビュー</a></li>
      <% if current_user %>
        <li><%= link_to "マイページ", user_path(current_user),"data-turbolinks": false %></li>
      <% else %>
        
        <li>
                        
          <%= link_to "サインイン", new_user_session_path ,"data-turbolinks": false%>
        </li>
      <% end %>
      <% if current_user %>
        <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete %></li>
      <% end %>
      <li><%= link_to "新規投稿", new_post_path,"data-turbolinks": false %></li>
      <% if current_user %>
        <% if unchecked_notifications.any? %>
            <li>
                <%= link_to "通知", notifications_path %>
            </li>
            <i class="fa fa-circle" style="color: gold;"></i>
        <% else %>
            <li>
                <%= link_to "通知", notifications_path %>
            </li>
        <% end %>
      <% end %>
      <li><%= link_to "プロフィール編集", edit_user_registration_path, "data-turbolinks": false %></li>
      <li><a href="/posts/search">Search</a></li>
  </ul>

</nav>
<div class="bg-salmon">
  <div class="text-center">
    
    <small><span class="white">応援がクリエイターの力となって作品を生み出すModelMe</span></small>
    
  </div>
</div>

 

<%= javascript_pack_tag 'navbar' %>