
  
  <div class="container">
    <div class="text-center  bg-mario">
      <br>
      <br>
        <h2 class="text-center amatic">Right Chip</h2>
      </br>
      <br>
    </div>
    
    
      <%= form_with model: @right, local:true, class:"contact-form row" do |form| %>
        <div class="col-12">
          <br>
          <br>
          <%= form.text_area :content, id: "content", class: "text-center input-text js-input"  %>
          <label class="label text-center" for="name">依頼内容(150字以内で)</label>
        </div>
        <div class="form-field col-12">
          <%= form.number_field :point, id: "caption", class: "text-center input-text js-input"%>
          <label class="label" for="message">Point</label>
        </div>
        <div class="form-field col-12">
          <%= form.number_field :deadline, id: "deadline", class: "text-center input-text js-input", min: 1%>
          <label class="label" for="message">共感可能日数(日)</label>
        </div>
        <div class="form-field col-12">
          <%= form.number_field :due, id: "due", class: "text-center input-text js-input", min: 1%>
          <label class="label" for="message">納期期間(日)</label>
        </div>
        <div class="form-field col-12">
          <label class="label" for="message">Photo(画像は最大6枚まで保存できます。必ず一枚は選択してください。)</label>
        </div>
        
        
        <div class="col-lg-4 col-12 square-avatar">
          <div class="text-center">
            <%= image_tag 'no-image.png', id:"avatar_img_prev0",class:"hidden" %>
          </div>
          <br>
            <%= form.file_field :images, multiple: true, id: 'post_img0' %>
          </br>
        </div>
        <div class="col-lg-4 col-12 square-avatar">
          <div class="text-center">
            <%= image_tag 'no-image.png', id:"avatar_img_prev1",class:"hidden" %>
          </div>
          <br>
            <%= form.file_field :images, multiple: true, id: 'post_img1' %>
          </br>
        </div>
        <div class="col-lg-4 col-12 square-avatar">
          <div class="text-center">
            <%= image_tag 'no-image.png', id:"avatar_img_prev2",class:"hidden" %>
          </div>
          <br>
            <%= form.file_field :images, multiple: true, id: 'post_img2' %>
          </br>
        </div>
        <div class="col-lg-4 col-12 square-avatar">
          <div class="text-center">
            <%= image_tag 'no-image.png', id:"avatar_img_prev3",class:"hidden" %>
          </div>
          <br>
            <%= form.file_field :images, multiple: true, id: 'post_img3' %>
          </br>
        </div>
        <div class="col-lg-4 col-12 square-avatar">
          <div class="text-center">
            <%= image_tag 'no-image.png', id:"avatar_img_prev4",class:"hidden" %>
          </div>
          <br>
            <%= form.file_field :images, multiple: true, id: 'post_img4' %>
          </br>
        </div>
        <div class="col-lg-4 col-12 square-avatar">
          <div class="text-center">
            <%= image_tag 'no-image.png', id:"avatar_img_prev5",class:"hidden" %>
          </div>
          <br>
            <%= form.file_field :images, multiple: true, id: 'post_img5' %>
          </br>
        </div>
        <%= form.hidden_field :post_id, :value => @post.id %>
        <%= form.hidden_field :owner, :value => @post.user.id %>
        <div class="form-field col-12 align-center">
          
          <%= form.submit "Submit", class: "submit-btn" %>
        </div>

        

        <hr>
        
        
      <% end %>
    
  </div>


<%= javascript_pack_tag 'post' %>