
  
  <div class="container">
    <div class="text-center  bg-mario">
      <br>
      <br>
        <h2 class="text-center amatic">Right Chip</h2>
      </br>
      <br>
    </div>
    
    
      <%= form_with model: @right, local:true, class:"contact-form row" do |form| %>
        <div class="col-12">
          <br>
          <br>
          <%= form.text_area :content, id: "content", class: "input-text js-input"  %>
          <label class="label text-center" for="name">依頼内容</label>
        </div>
        <div class="form-field col-12">
          <%= form.number_field :point, id: "caption", class: "input-text js-input"%>
          <label class="label" for="message">Point</label>
        </div>
        
        <div class="col-12">
          <label class="label text-center" for="name">image</label>
        </div>
        
        <div class="col-12 circle-avatar">
        
          <%= image_tag 'no-image.png', id:"avatar_img_prev",class:"hidden" %>
          <%= form.file_field :images, multiple: true, id: 'post_img' %>

        </div>
        <%= form.hidden_field :post_id, :value => @post.id %>
        <%= form.hidden_field :owner, :value => @post.user.id %>
        <div class="form-field col-12 align-center">
          
          <%= form.submit "Submit", class: "submit-btn" %>
        </div>

        

        <hr>
        
        
      <% end %>
    
  </div>


<%= javascript_pack_tag 'post' %>