<!DOCTYPE html>
<html>
  <head>
    <title>ModelMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
  
    
    <div id="wrapper">
      

      <% if flash[:notice] %>
        <div class="alert alert-info"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>
      
      
      
      <div id="preloader">
          <div id="status" class="la-ball-triangle-path">
              <div></div>
              <div></div>
              <div></div>
          </div>
      </div>
      <div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
          <div class="top-border wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"></div>
          <div class="right-border wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;"></div>
          <div class="bottom-border wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"></div>
          <div class="left-border wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></div>
      </div>
  
      <div id="wrapper">
      
        <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
          <div class="container">
            <div class='fixed-top'>   
              <nav>
                
                
                <h3 class="text-center bold"><span class="orange-color">M</span>odel<span class="blue-color">M</span>e</h3>
                <div class="menu">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                    <div class="bar bar3"></div>
                </div>
      
                <ul class="nav-links">
                    <li><a href="/posts">ホーム</a></li>
                    <% if current_user %>
                      <li><a href="/users/<%= current_user.id%>">プロフィール</a></li>
                    <% else %>
                      <li><a href="/users/sign_up">サインアップ</a></li>
                    <% end %>
                    <% if current_user %>
                      <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete %></li>
                    <% end %>
                    <li><%= link_to "新規投稿", new_post_path ,"data-turbolinks": false%></li>
                    <% if current_user %>
                      <% if unchecked_notifications.any? %>
                          <li>
                              <%= link_to "通知", notifications_path %>
                          </li>
                          <i class="fa fa-circle" style="color: gold;"></i>
                      <% else %>
                          <li>
                              <%= link_to "通知", notifications_path %>
                          </li>
                      <% end %>
                    <% end %>
                    <li><a href="/posts/search">Search</a></li>
                    
                </ul>
      
              </nav>
            </div>
          </div>
          <div class="banner-content row clearfix">
            <div class="container">
              <div class="col-38">
                <br>
                <br>
                <br>
                <div class="section-heading">
                    <br>
                      <h1>INNOVATIVE TRADING SYSTEM OF 3D MODEL</h1>
                    </br>
                    <br>
                      <h2 class="effect-fade ff">あなたの応援がクリエイターの力となって作品を生み出すという事をあなた自身が実感できる体験</h2>
                    </br>
                </div>
    
                 
                <a href="/posts/new" class="button effect-fade">START CREATING TODAY</a>
                  
              </div>
              
            </div>
          </div>
          
        
        </header>
        
        <%= javascript_pack_tag 'effect' %>
        <%= javascript_pack_tag 'navbar' %>
        <%= javascript_pack_tag 'i1' %>
        <%= javascript_pack_tag 'j1' %>
        <%= javascript_pack_tag 'j2' %>
        <%= javascript_pack_tag 'j3' %>
        <%= javascript_pack_tag 'j4' %>
      
        <%= javascript_pack_tag 'j6' %>
        <%= javascript_pack_tag 'l1' %>
        <%= javascript_pack_tag 'p1' %>
        <%= javascript_pack_tag 's1' %>
        <%= javascript_pack_tag 'w1' %>
        
      </div>
      <%# ========== partial/footerを追加する ========== %>
      <%= render 'partial/footer' %>

    </div>
  </body>
</html>

      


    


