<div class="container">
  
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row">
      
      <div class="col-md-7">
      
        
        <section>
            
          <div class="carousel">
              <% number = 1 %>
              <% @post.images.each do |image| %>
                <input type="radio" name="slides" id="slide-<%= number %>">
                <% number += 1%>
              <% end %>
              
              <ul class="carousel__slides">
                <% @post.images.each do |img| %>
                  
                  <li class="carousel__slide">
                      <figure>
                        <div class="card border-blue">
                          
                          <%= image_tag img.variant(resize_to_fill: [1580, 1080]), class: "card-img-top" %>
                          
                        </div>
                      </figure>
                  </li>
                  
                  
                  
                  
                  
                <% end %>
              </ul> 
              
              <ul class="carousel__thumbnails">
                <div class="container"> 
                  <div class="row">  
                    <% i = 1 %>
                    <% @post.images.each do |photo| %>
                      <li>
                          <label for="slide-<%= i %>"><%= image_tag photo.variant(resize_to_fill: [1180, 1080]) %></label>
                      </li>
                      <% i += 1%>
                    <% end %>
                  </div>
                </div>
              </ul>
              
          </div>
            
        </section>
  
      </div>
      <div class="col-md-5 bg-black">
        <div class="card-body">

          <%= link_to user_path(@post.user), class: "black-color no-text-decoration" do %>
                    
                        
                        
            <% if @post.user.profile_photo.attached? %>

              <%= image_tag @post.user.profile_photo.variant(resize_to_fill: [1080, 1080]), class: "post-profile-icon" %>
            <% else %>
              <img src="/assets/avatar.png" class="post-profile-icon" />
            <% end %>
            <strong><span class="white-color"><%= @post.user.name%></span></strong>


              
            
          <% end %>
          <h6 class="card-text white"><%= @post.caption%></h6>
          <br>
          <h6 class="card-title white-color"><strong><span><i class="fas fa-yen-sign"></i>応援購入総額</span></strong></h6>
          <div class="text-center">
            <% if @post.ps.first %>
              <% array = @post.ps.pluck(:point) %>
              <h3 class="card-text white amatic"><%= array.sum %>ポイント</h3>
            <% else %>
              <h3 class="card-text white amatic">0ポイント</h3>
            <% end %>
          </div>

          <% if @post.ps.first %>
            <h6 class="white-color"><i class="fas fa-users"></i>サポーター</h6>
            <div class="text-center">
              <h3 class="card-text white amatic"><%= @post.ps.length %></h3>
            </div>
          <% else %>
            <h6 class="card-text white"><i class="fas fa-users"></i>サポーター</h6>
            <div class="text-center">
              <h3 class="card-text white amatic">0人</h3>
            </div>
          <% end %>
          
          <div class="row">
            <% if @post.likes.first %>
              <br>
                <h5 class="card-text white amatic"><i class="far fa-heart"></i>  <%= @post.likes.length%></h5>
              </br>
            <% else %>
              <br>
                <h5 class="card-text white amatic"><i class="far fa-heart"></i>  0</h5>
              </br>
            <% end %>
            <% if @post.reps.first %>
              <br>
                <h5 class="card-text white margin amatic"><i class="far fa-comments"></i>  <%= @post.reps.length%></h5>
              </br>
            <% else %>
              <br>
                <h5 class="card-text white margin amatic"><i class="far fa-comments"></i>  0</h5>
              </br>
            <% end %>
          
          
          </div>
          <div class="text-center">
            <% if current_user != @post.user%>
              <%= link_to new_support_path(@post),class: "black-color no-text-decoration" do %>
                <br><button type="button" class="btn btn-warning"><span class="white-color">応援購入する</span></button></br>
              <% end %>
            <% end %>
          </div>
          <%= link_to  "https://twitter.com/share?url=#{request.url}&text=#{ @post.caption }", title: 'Twitter', target: '_blank' do%>
            <br><h3><i class="fab fa-twitter"></i></h3><small><span class="white-color">twitterでシェア</span></small></br>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
<div class="container">
  <br>
  <h5 class="text-center">権利チップ</h5>
  
  <div class="card-group">
    <% if @rights.first %>
      <% @rights.each do |right| %>
        <% if right.criterions.first %>
          <% @hagetako =  right.criterions.first.created_at.strftime("%Y-%m-%d") %>
          <% @hagetakohagetako = Date.parse(@hagetako) + right.deadline - Date.today %>
          <% @hagetakohagetakohagetako = @hagetakohagetako.to_i %>
        <% end %>
        <br>
          
        <div class="card">
          
            <div class="container">
              <div class="profile-wrap">    
                <h6>
                  
                  <%= link_to user_path(right.user), class: "black-color no-text-decoration" do %>
                  
                  
                  
                    <% if right.user.profile_photo.attached? %>
        
                      <%= image_tag right.user.profile_photo.variant(resize_to_fill: [1080, 1080]), class: "profile-icon" %>
                    <% else %>
                      <img src="/assets/avatar.png" class="post-profile-icon" />
                    <% end %>
                    
                  <% end %>
                </h6>
                
                
                  
                  
                <strong><%= link_to user_path(right.user), class: "black-color no-text-decoration" do %><%= right.user.name %><% end %></strong>
                <%= link_to right_path(right), class: "black-color no-text-decoration" do %>
                  <h7 class="card-text"><%= right.content %></h7>
                <% end %>
                  
                    
                <div class="card-title">  
                  <h5><strong><i class="fas fa-coins"></i><%= right.point %></strong></h5>
                </div>
                    
                  
                <h5 class="card-title text-center">
                  
                  <% if right.criterions.first %>
                    <% ar = right.sympathies.length / right.criterions.first.sp.to_f * 100 %>
                    <div class="bg-graf">


                      <% if ar >= 100 %>
                        <div class="item item1" style="width: 100%;">
                          <span class="item_label"><small><strong>達成率:<%= ar.round %>%</strong></small></span>
                        </div>
                      <% else %>
                        <div class="item item1" style="width: <%= ar.round%>%;">
                          <span class="item_label"><small><strong>達成率:<%= ar.round %>%</strong></small></span>
                        </div>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="bg-graf">
                      <div class="item item1" style="width: 0%;">
                        <span class="item_label"><small><strong>達成率:0%</strong></small></span>
                      </div>
                    </div>
                  <% end %>
                </h5>
                
                    
                   
                  
              </div>
              <div class="text-center"> 
                <% if right.rejections.first %>
                  <br>
                    <button type="button" class="btn btn-secondary text-center"><span class="white-color">この依頼はキャンセルされました</span></button>
                  </br>
                <% elsif current_user == right.post.user && right.zipfiles.first %>
                  <%= link_to zipfile_path(right.zipfiles.first), class: "black-color no-text-decoration" do %>
                    <br>
                      <button type="button" class="btn btn-warning text-center"><span class="white-color">作品を確認する</span></button>
                    </br>
                  <% end %>
                <% elsif current_user == right.post.user && right.definitions.first %>
                  <% @manzi = right.definitions.first.created_at.strftime("%Y-%m-%d") %>
                  <% @manzimanzi = Date.parse(@manzi) + right.due - Date.today%>
                  <% @manzimanzimanzi = @manzimanzi.to_i %> 
    
                  <% if @manzimanzimanzi >= 0%>
                    <%= link_to new_zipfile_path(right), class: "black-color no-text-decoration" do %>
                      <br>
                        <button type="button" class="btn btn-warning text-center"><span class="white-color">作品を投稿する(納期まであと<%= @manzimanzimanzi%>日です)</span></button>
                      </br>
                    <% end %>
                  <% else %>
                    <%= link_to new_zipfile_path(right), class: "black-color no-text-decoration" do %>
                      <br>
                        <button type="button" class="btn btn-warning text-center"><span class="white-color">納期をすぎています。至急作品を投稿してください</span></button>
                      </br>
                    <% end %>
                  <% end %>
                <% elsif current_user == right.post.user && @hagetakohagetakohagetako && @hagetakohagetakohagetako >= 0 %>
                  
                  <% ar = right.sympathies.length / right.criterions.first.sp.to_f * 100 %>
                  <%= link_to new_rejection_path(right), class: "black-color no-text-decoration" do %>
                    <br>
                      <button type="button" class="btn btn-warning text-center"><span class="white-color">依頼をキャンセルする</span></button>
                    </br>
                  <% end %>
                <% elsif current_user == right.post.user && @hagetakohagetakohagetako && @hagetakohagetakohagetako == -1 %>
              
                  <% ar = right.sympathies.length / right.criterions.first.sp.to_f * 100 %>
                  <%= link_to new_definition_path(right), class: "black-color no-text-decoration" do %>
                    <br>
                      <button type="button" class="btn btn-warning text-center"><span class="white-color">最終決定の期限まであと3日</span></button>
                    </br>
                  <% end %>
                <% elsif current_user == right.post.user && @hagetakohagetakohagetako && @hagetakohagetakohagetako == -2 %>
                  
                  <% ar = right.sympathies.length / right.criterions.first.sp.to_f * 100 %>
                  <%= link_to new_definition_path(right), class: "black-color no-text-decoration" do %>
                    <br>
                      <button type="button" class="btn btn-warning text-center"><span class="white-color">最終決定の期限まであと2日</span></button>
                    </br>
                  <% end %>
                <% elsif current_user == right.post.user && @hagetakohagetakohagetako && @hagetakohagetakohagetako == -3 %>
                  
                  <% ar = right.sympathies.length / right.criterions.first.sp.to_f * 100 %>
                  <%= link_to new_definition_path(right), class: "black-color no-text-decoration" do %>
                    <br>
                      <button type="button" class="btn btn-warning text-center"><span class="white-color">最終決定の期限まであと1日</span></button>
                    </br>
                  <% end %>
                <% elsif current_user == right.post.user && @hagetakohagetakohagetako && @hagetakohagetakohagetako < -3 %>
                  
                  <% ar = right.sympathies.length / right.criterions.first.sp.to_f * 100 %>
                  <%= link_to new_definition_path(right), class: "black-color no-text-decoration" do %>
                    <br>
                      <button type="button" class="btn btn-warning text-center"><span class="white-color">早急に最終決定してください</span></button>
                    </br>
                  <% end %>
                
                <% elsif current_user == right.post.user && right.criterions.first.nil? %>
                  <%= link_to new_criterion_path(right),class: "black-color no-text-decoration" do %>
                    <button type="button" class="btn btn-warning"><span class="white-color">ノルマを設定する</span></button>
                  <% end %>
                <% elsif current_user && right.sympathies.pluck(:user_id).include?(current_user.id) && right.zipfiles.first %>
                  <%= link_to zipfile_path(right.zipfiles.first), class: "black-color no-text-decoration" do %>
                    <br>
                      <button type="button" class="btn btn-warning text-center"><span class="white-color">作品をダウンロードする</span></button>
                    </br>
                  <% end %>
                <% elsif current_user && right.sympathies.pluck(:user_id).include?(current_user.id) && right.definitions.first %>
                  <% @manzi1 = right.definitions.first.created_at.strftime("%Y-%m-%d") %>
                  <% @manzimanzi1 = Date.parse(@manzi1) + right.due - Date.today%>
                  <% @manzimanzimanzi1 = @manzimanzi1.to_i %>
                  <% if @manzimanzimanzi1 >= 0%>
                    
                    <br>
                      <button type="button" class="btn btn-warning text-center"><span class="white-color">作品はあと<%= @manzimanzimanzi1%>日以内に投稿される予定です。<i class="far fa-grin-beam-sweat"></i></span></button>
                    </br>
                    
                  <% else %>
                    
                    <br>
                      <button type="button" class="btn btn-warning text-center"><span class="white-color">催促する</span></button>
                    </br>
                    
                  <% end %>
                <% elsif @hagetakohagetakohagetako && @hagetakohagetakohagetako >= 0 %>
                  <%= link_to new_sympathy_path(right),class: "black-color no-text-decoration","data-turbolinks": false do %>
                    <button type="button" class="btn btn-warning"><span class="white-color">共感購入する(共感締め切りまであと<%= @hagetakohagetakohagetako %>日)</span></button>
                  <% end %>
                <% elsif @hagetakohagetakohagetako && @hagetakohagetakohagetako < 0 %>
                  
                  <br>
                    <button type="button" class="btn btn-secondary text-center"><span class="white-color">共感は締め切られました</span></button>
                  </br>
                  
                <% else %>
                  <strong>クリエイターからの反応はありません</strong>
                <% end %>
              </div>
              
              <br>
            </div>
          
          
        </div>
        </br>
      <% end %>
    <% else %>
      <div class="container">
        <h5 class="text-center"><strong>権利購入はまだありません</strong></h5>
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <%= paginate @rights %>
  </div>
</div>




<div class="container">
  <br>
  <h5 class="text-center">リプライ</h5>
  
  <div class="card-group">
    <% if @replies.first %>
      <% @replies.each do |reply| %>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
          <div class="card" style="width: 17rem;">
            <div class="card-body">
              <strong class="max-350px">
                
                  <%= link_to user_path(reply.user), class: "black-color no-text-decoration" do %>
                    
                    
                    
                    <% if reply.user.profile_photo.attached? %>
        
                      <%= image_tag reply.user.profile_photo.variant(resize_to_fill: [1080, 1080]), class: "post-profile-icon" %>
                    <% else %>
                      <img src="/assets/avatar.png" class="post-profile-icon" />
                    <% end %>
                    <%= reply.user.name%>
                  <% end %>
                
                
              </strong>
              
            </div>
            
            <div class="card-body">
              <strong><%= reply.caption %></strong>
            </div>
              
              
              
          </div>
            
          
            
        </div>
          
        
        
      <% end %>
    <% else %>
      <div class="container">
        <h5 class="text-center"><strong>リプライはまだありません</strong></h5>
      </div>


      <br>
      <br>
      <br>
    <% end %>
  </div>
  
</div>
<div class="container">
  
  <h5 class="text-center">応援購入</h5>
  
  <div class="card-group">
    <% if @post.ps.first %>
      <% @post.ps.each do |p| %>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
          <div class="card" style="width: 17rem;">
            <div class="card-body">
              <strong class="max-350px">
                
                  <%= link_to user_path(p.user), class: "black-color no-text-decoration" do %>
                    
                    
                    
                    <% if p.user.profile_photo.attached? %>
        
                      <%= image_tag p.user.profile_photo.variant(resize_to_fill: [1080, 1080]), class: "post-profile-icon" %>
                    <% else %>
                      <img src="/assets/avatar.png" class="post-profile-icon" />
                    <% end %>
                    <%= p.user.name%>
                  <% end %>
                
                
              </strong>
              
            </div>
            
            <div class="card-body">
              <strong><%= p.support.message %></strong>
              <br><strong><span class="salmon"><%= p.point %>pt</span></strong></br>
            </div>
              
              
              
          </div>
            
          
            
        </div>
          
        
        
      <% end %>
    <% else %>
      <div class="container">
        <h5 class="text-center"><strong>応援購入はまだありません</strong></h5>
      </div>


      <br>
      <br>
      <br>
    <% end %>
  </div>
  
</div>








