<div class="text-center  bg-mario">
  <br>
  <br>
    <h2 class="text-center amatic">Sympathy Chip</h2>
  </br>
  <br>
</div>
<% if @right.rejections.first %>
  <div class="text-center  bg-mario">
    <br>
    <br>
      <h4 class="text-center amatic"><strong>以下の依頼はキャンセルされました</strong></h4>
    </br>
    <br>
  </div>
<% elsif current_user == @right.post.user && @right.zipfiles.first %>
  <%= link_to zipfile_path(@right.zipfiles.first), class: "black-color no-text-decoration" do %>
    <br>
    <br>
      <h4 class="text-center amatic"><strong>作品を確認する</strong></h4>
    </br>
    <br>
  <% end %>
<% elsif current_user == @right.post.user && @right.definitions.first %>
  <% @manzi = @right.definitions.first.created_at.strftime("%Y-%m-%d") %>
  <% @manzimanzi = Date.parse(@manzi) + @right.due - Date.today%>
  <% @manzimanzimanzi = @manzimanzi.to_i %> 

  <% if @manzimanzimanzi >= 0%>
    <%= link_to new_zipfile_path(@right), class: "black-color no-text-decoration" do %>
      <br>
      <br>
        <h4 class="text-center amatic"><strong>作品を投稿する(納期まであと<%= @manzimanzimanzi%>日です)</strong></h4>
      </br>
      <br>
    <% end %>
  <% else %>
    <%= link_to new_zipfile_path(@right), class: "black-color no-text-decoration" do %>
      <br>
      <br>
        <h4 class="text-center amatic"><strong>納期をすぎています。至急作品を投稿してください</strong></h4>
      </br>
      <br>
    <% end %>
  <% end %>
<% elsif current_user == @right.post.user && @hagetakohagetakohagetako && @hagetakohagetakohagetako >= 0 %>
  
  
  <%= link_to new_rejection_path(@right), class: "black-color no-text-decoration" do %>
    <br>
    <br>
      <h4 class="text-center amatic"><strong>依頼をキャンセルする</strong></h4>
    </br>
    <br>
  <% end %>
<% elsif current_user == @right.post.user && @hagetakohagetakohagetako && @hagetakohagetakohagetako == -1 %>
  
  
  <%= link_to new_definition_path(@right), class: "black-color no-text-decoration" do %>
    <br>
    <br>
      <h4 class="text-center amatic"><strong>最終決定の期限まであと3日</strong></h4>
    </br>
    <br>
  <% end %>
<% elsif current_user == @right.post.user && @hagetakohagetakohagetako && @hagetakohagetakohagetako == -2 %>
  
  
  <%= link_to new_definition_path(@right), class: "black-color no-text-decoration" do %>
    <br>
    <br>
      <h4 class="text-center amatic"><strong>最終決定の期限まであと2日</strong></h4>
    </br>
    <br>
  <% end %>
<% elsif current_user == @right.post.user && @hagetakohagetakohagetako && @hagetakohagetakohagetako == -3 %>
  
  
  <%= link_to new_definition_path(@right), class: "black-color no-text-decoration" do %>
    <br>
    <br>
      <h4 class="text-center amatic"><strong>最終決定の期限まであと1日</strong></h4>
    </br>
    <br>
  <% end %>
<% elsif current_user == @right.post.user && @hagetakohagetakohagetako && @hagetakohagetakohagetako < -3 %>
  <%= link_to new_definition_path(@right), class: "black-color no-text-decoration" do %>
    <br>
    <br>
      <h4 class="text-center amatic"><strong>早急に最終決定してください</strong></h4>
    </br>
    <br>
  <% end %>
<% elsif current_user == @right.post.user && @right.criterions.first.nil? %>
  <%= link_to new_criterion_path(@right),class: "black-color no-text-decoration" do %>
    <br>
    <br>
      <h4 class="text-center amatic"><strong>ノルマを設定する</strong></h4>
    </br>
    <br>
  <% end %>
<% elsif current_user && @right.sympathies.pluck(:user_id).include?(current_user.id) && @right.zipfiles.first %>
  <%= link_to zipfile_path(@right.zipfiles.first), class: "black-color no-text-decoration" do %>
    <br>
    <br>
      <h4 class="text-center amatic"><strong>作品をダウンロードする</strong></h4>
    </br>
    <br>
  <% end %>
<% elsif current_user && @right.sympathies.pluck(:user_id).include?(current_user.id) && @right.definitions.first %>
  <% @manzi1 = @right.definitions.first.created_at.strftime("%Y-%m-%d") %>
  <% @manzimanzi1 = Date.parse(@manzi1) + @right.due - Date.today%>
  <% @manzimanzimanzi1 = @manzimanzi1.to_i %>
  <% if @manzimanzimanzi1 >= 0%>
    <br>
    <br>
      <h4 class="text-center amatic"><strong>作品はあと<%= @manzimanzimanzi1%>日以内に投稿される予定です。<i class="far fa-grin-beam-sweat"></i></strong></h4>
    </br>
    <br>
  <% else %>
    <br>
    <br>
      <h4 class="text-center amatic"><strong>催促する</strong></h4>
    </br>
    <br>
    
  <% end %>
<% elsif @hagetakohagetakohagetako && @hagetakohagetakohagetako >= 0 %>
  <div class="container">
    <div class="form-group text-center">
      <h6>依頼内容</h6>
      
      <h7><%= @right.content %></h7>
    </div>
    <%= form_with model: @sympathy, local:true, class:"contact-form row" do |form| %>
      <div class="col-12">
        <%= form.number_field :point, class: "input-text js-input text-center", value: @right.point, readonly: true %>
        <label class="label text-center" for="name">Point</label>
      </div>
      <%= form.hidden_field :post_id, :value => @right.post.id %>
      <%= form.hidden_field :right_id, :value => @right.id %>
      <div class="form-field col-12 align-center">
        
        <%= form.submit "Submit", class: "submit-btn" %>
      </div>

      

      <hr>
      
      
    <% end %>
  </div>
<% elsif @hagetakohagetakohagetako && @hagetakohagetakohagetako < 0 %>
  <br>
  <br>
    <h4 class="text-center amatic"><strong>共感は締め切られました</strong></h4>
  </br>
  <br>
<% else %>
  
  <br>
  <br>
    <h4 class="text-center amatic"><strong>クリエイターからの反応はありません</strong></h4>
  </br>
  <br>
<% end %>



<div class="container"> 

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row">
      
      <div class="col-md-7">
      
        
        <section>
            
          <div class="carousel">
              <% number = 1 %>
              <% if @right.images.attached? %>
                <% @right.images.each do |image| %>
                  <input type="radio" name="slides" id="slide-<%= number %>">
                  <% number += 1%>
                <% end %>
              <% else %>
                <% @right.post.images.each do |image| %>
                  <input type="radio" name="slides" id="slide-<%= number %>">
                  <% number += 1%>
                <% end %>
              <% end %>
              
              <ul class="carousel__slides">
                <% if @right.images.attached? %>
                  <% @right.images.each do |img| %>
                    <li class="carousel__slide">
                        <figure>
                          <div class="card border-blue">
                            <%= image_tag img.variant(resize_to_fill: [1580, 1080]), class: "card-img-top" %>
                          </div>
                        </figure>
                    </li>
                  <% end %>
                <% else %>
                  <% @right.post.images.each do |img| %>
                    <li class="carousel__slide">
                        <figure>
                          <div class="card border-blue">
                            <%= image_tag img.variant(resize_to_fill: [1580, 1080]), class: "card-img-top" %>
                          </div>
                        </figure>
                    </li>
                  <% end %>
                <% end %>
              </ul> 
              
              
              
          </div>
            
        </section>

      </div>
      <div class="col-md-5 bg-black">
        <div class="card-body">
          <%= link_to user_path(@right.user), class: "black-color no-text-decoration" do %>
                      
                          
                          
            <% if @right.user.profile_photo.attached? %>

              <%= image_tag @right.user.profile_photo.variant(resize_to_fill: [1080, 1080]), class: "post-profile-icon" %>
            <% else %>
              <img src="/assets/avatar.png" class="post-profile-icon" />
            <% end %>
            <strong><span class="white-color"><%= @right.user.name%></span></strong>


              
            
          <% end %>
          <h6 class="card-text white"><%= @right.content%></h6>
          <br>
          <h6 class="card-title white-color"><strong><span><i class="fas fa-yen-sign"></i>共感購入総額</span></strong></h6>
          <div class="text-center">
            <% if @right.sympathies.first %>
              <% array = @right.sympathies.pluck(:point) %>
              <h4 class="card-text white amatic"><%= array.sum %>ポイント</h4>
            <% else %>
              <h4 class="card-text white amatic">0ポイント</h4>
            <% end %>
          </div>


          <% if @right.sympathies.first %>
            <h6 class="white-color"><i class="fas fa-users"></i>サポーター</h6>
            <div class="text-center">
              <h4 class="card-text white amatic"><%= @right.sympathies.length %></h4>
            </div>
          <% else %>
            <h6 class="card-text white"><i class="fas fa-users"></i>サポーター</h6>
            <div class="text-center">
              <h4 class="card-text white amatic">0人</h4>
            </div>
          <% end %>
          
          <br>          
            <% if @right and @right.criterions.first %>
              <% ar = @right.sympathies.length / @right.criterions.first.sp.to_f * 100 %>
              <br>
                <h6><span class="white-color"><strong>達成率：<%= ar.round %>%</strong></span></h6>
              </br>

              <div class="bg-graf">
                
                <% if ar >= 100 %>
                  <div class="item item1" style="width: 100%;">
                    <span class="item_label white-color"><small><strong>達成率:<%= ar.round %>%</strong></small></span>
                  </div>
                <% else %>
                  <div class="item item1" style="width: <%= ar.round%>%;">
                    <span class="item_label white-color"><small><strong>達成率:<%= ar.round %>%</strong></small></span>
                  </div>
                <% end %>
              </div>
            <% else %>
              <br>
                <h6><span class="white-color"><strong>達成率：0%</strong></span></h6>
              </br>
              <div class="bg-graf">
                <div class="item item1" style="width: 0%;">
                  
                </div>
              </div>
            <% end %>
          </br>
        </div>
      </div>
      
    </div>
  </div>

</div>


<%= javascript_pack_tag 'post' %>