
  
<div class="container">
    <div class="text-center  bg-mario">
      <br>
      <br>
        <h3 class="text-center amatic"><応援購入></h3>
      </br>
      <br>
      <div class="text-center">
        <h7><strong>※応援購入する際はクライントガイドラインをご確認ください。詳しくは、<a href="/policies/client">こちら</a>をクリックしてください</strong></h7>
      </div>
    </div>

      <%= form_with model: @support, local:true, class:"contact-form row" do |form| %>
        <div class="col-12">
          <br>
          <br>
          <%= form.text_area :message, id: "title", class: "input-text js-input", :required => true  %>
          <label class="label text-center" for="name">応援メッセージ</label>
        </div>

        <div class="form-field col-12">
          <%= form.number_field :point, id: "caption", class: "input-text js-input", :required => true%>
          <label class="label" for="message">応援金額</label>
        </div>
        <%= form.hidden_field :post_id, :value => @post.id %>
        <div class="form-field col-12 align-center">
          
          <%= form.submit "決済ページへ進む", class: "submit-btn", :disabled => false %>

        </div>

        

        <hr>
        
        
      <% end %>
  
</div>
    
  
<div class="container"> 
  
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row">
      
      <div class="col-md-7">
      
        
        <section>
            
          <div class="carousel">
              <% number = 1 %>
              <% if @post.images.attached? %>
                <% @post.images.each do |image| %>
                  <input type="radio" name="slides" id="slide-<%= number %>">
                  <% number += 1%>
                <% end %>
              <% else %>
                <% @post.post.images.each do |image| %>
                  <input type="radio" name="slides" id="slide-<%= number %>">
                  <% number += 1%>
                <% end %>
              <% end %>
              
              <ul class="carousel__slides">
                
                <% @post.images.each do |img| %>
                  <li class="carousel__slide">
                      <figure>
                        <div class="card border-blue">
                          <%= image_tag img.variant(resize_to_fill: [1580, 1080]), class: "card-img-top" %>
                        </div>
                      </figure>
                  </li>
                <% end %>
      
              </ul> 
              
              
              
          </div>
            
        </section>
  
      </div>
      <div class="col-md-5 bg-black">
        <div class="card-body">
          <%= link_to user_path(@post.user), class: "black-color no-text-decoration" do %>
                      
                          
                          
            <% if @post.user.profile_photo.attached? %>

              <%= image_tag @post.user.profile_photo.variant(resize_to_fill: [1080, 1080]), class: "post-profile-icon" %>
            <% else %>
              <img src="/assets/avatar.png" class="post-profile-icon" />
            <% end %>
            <strong><span class="white-color"><%= @post.user.name%></span></strong>


              
            
          <% end %>
          <h6 class="card-text white"><%= @post.caption %></h6>
          <br>
          <h6 class="card-title white-color"><strong><span><i class="fas fa-yen-sign"></i>応援購入総額</span></strong></h6>
          <div class="text-center">
            <% if @post.csupports.first %>
              <% array = @post.csupports.pluck(:point) %>
              <h3 class="card-text white amatic"><%= array.sum %>ポイント</h3>
            <% else %>
              <h3 class="card-text white amatic">0ポイント</h3>
            <% end %>
          </div>


          <% if @post.csupports.first %>
            <h6 class="white-color"><i class="fas fa-users"></i>サポーター</h6>
            <div class="text-center">
              <h3 class="card-text white amatic"><%= @post.csupports.length %>人</h3>
            </div>
          <% else %>
            <h6 class="card-text white"><i class="fas fa-users"></i>サポーター</h6>
            <div class="text-center">
              <h3 class="card-text white amatic">0人</h3>
            </div>
          <% end %>
          
          
        </div>
      </div>
      
    </div>
  </div>
  
</div>

<%= javascript_pack_tag 'post' %>