<div class="container">
    <div class="text-center  bg-mario">
      <br>
      <br>
        <h2 class="text-center amatic">NEW REVIEW</h2>
      </br>
      <br>
    </div>

    
    <br>
    <%= form_with model: @review, local:true, class:"contact-form row" do |form| %>
      <div class="form-field col-12">
        <%= form.text_field :caption, id: "caption", class: "input-text js-input"  %>
        <label class="label text-center" for="name">オモイを共有する</label>
      </div>
      <div class="form-field col-12">
        <label class="label" for="message">Photo(画像は最大6枚まで保存できます。必ず1マイは選択してください)</label>
      </div>
      <div class="col-lg-4 col-12 square-avatar">
        <div class="text-center">
          <%= image_tag 'no-image.png', id:"avatar_img_prev0",class:"hidden" %>
        </div>
        <br>
          <%= form.file_field :images, multiple: true, id: 'post_img0' %>
        </br>
      </div>
      <div class="col-lg-4 col-12 square-avatar">
        <div class="text-center">
          <%= image_tag 'no-image.png', id:"avatar_img_prev1",class:"hidden" %>
        </div>
        <br>
          <%= form.file_field :images, multiple: true, id: 'post_img1' %>
        </br>
      </div>
      <div class="col-lg-4 col-12 square-avatar">
        <div class="text-center">
          <%= image_tag 'no-image.png', id:"avatar_img_prev2",class:"hidden" %>
        </div>
        <br>
          <%= form.file_field :images, multiple: true, id: 'post_img2' %>
        </br>
      </div>
      <div class="col-lg-4 col-12 square-avatar">
        <div class="text-center">
          <%= image_tag 'no-image.png', id:"avatar_img_prev3",class:"hidden" %>
        </div>
        <br>
          <%= form.file_field :images, multiple: true, id: 'post_img3' %>
        </br>
      </div>
      <div class="col-lg-4 col-12 square-avatar">
        <div class="text-center">
          <%= image_tag 'no-image.png', id:"avatar_img_prev4",class:"hidden" %>
        </div>
        <br>
          <%= form.file_field :images, multiple: true, id: 'post_img4' %>
        </br>
      </div>
      <div class="col-lg-4 col-12 square-avatar">
        <div class="text-center">
          <%= image_tag 'no-image.png', id:"avatar_img_prev5",class:"hidden" %>
        </div>
        <br>
          <%= form.file_field :images, multiple: true, id: 'post_img5' %>
        </br>
      </div>
      <%= form.hidden_field :post_id, :value => @right.post.id %>
      <%= form.hidden_field :right_id, :value => @right.id %>
      <div class="form-field col-12 align-center">
        
        <%= form.submit "Submit", class: "submit-btn" %>
      </div>

      

      <hr>
      
      
    <% end %>
    
  
</div>


<%= javascript_pack_tag 'post' %>