<br>

<div id = "row-padding">
  <div class="row">
    <div class="col-lg-2 col-12">
      <p class="sample"></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to "利用規約", tou_policy_url,class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "プライバシーポリシー", privacy_policy_url,class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "特定商取引法に基づく表記", transaction_policy_url, class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "クリエイターガイドライン", creator_policy_url, class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "クライアントガイドライン", client_policy_url, class: "black-color cf no-text-decoration"%></li>
      </ul>
    </div>
    <div class="col-lg-10 col-12">
      <div class="Inner">
        <h2 class="Inner-Headline">クライアントガイドライン</h2>
        <div class="Inner-Box">
          
          <br>
            まずはじめに、ModelMeはより良い3Dモデルの環境作りも目指して生み出されたサービスです。利用者皆様が心地よくサービスをご利用できるよう努めてまいりますが、至らぬ点が多々見受けられるかもしれません。不都合な点やご不明な点がございましたら、Twitterを通してご指摘、ご質問お待ちしております。
          </br>
        </div>
        <div class="Inner-Box">
          <h4 class="Inner-Box-Headline3">ModelMeとは</h4>
          
          <br>
          ModelMeとは依頼者が依頼を送り、さらに他のファンが依頼に共感し便乗し、それに対してクリエイターが依頼に応じた3Dモデルを製作してくれるサービスです。さらにクリエイターが製作してくれた作品は設定された金額を送ることで誰でもダウンロードできます。またシェアというコミュニティサイトが搭載されており、依頼者のアイデア創出から、取引後の応援までを一貫して行えるサービスになっています。細かい見積もりや打ち合わせ、リテイクはないため、細かい依頼を送る依頼サイトは異なります。完成度はクリエイターが決定し、クライアントは完成度に異議を唱えることはできません。完成品がどんな状態であっても問題ないという条件に同意できない場合、本サービスをご利用することはできません。完成度が確立されているわけではないため、クリエイターに対して信用できない、価格が高すぎると感じた場合はご利用をお控えください。

          <br>
          
        </div>
        <div class="Inner-Box">
          <h4 class="Inner-Box-Headline3">ModelMeの特徴</h4>
          <br>
          ・依頼者の依頼がアイデアの創出
          </br>
          <br>
          　ModelMeはクリエイターの何気ない投稿からスタートして、その投稿に対して依頼者が何か依頼(アイデア)を送ることで、新たな作品が生まれる可能性を作ります。
          </br>
          <br>
          ・共感が大きな応援となる
          </br>
          <br>
          　ModelMeは共感というシステムを作りました。最初の依頼が承認されると、他のユーザーは共感をすることができるようになります。この共感とは、実際にクリエイターが製作してアップロードしてくれたら購入するという意思表示であり、事前調査のような役割を果たします。共感の時点では支払いは生じず、クリエイターが製作を完了させ、ユーザーがダウンロードした場合支払いが生じます(ダウンロードしない場合支払いは生じません)。あなたの共感がクリエイターの創作意欲につながります。
          </br>
          <br>
          ・金額を決めるのはクライアント
          </br>
          <br>
          　決められた金額はないため、作ってほしいものやクリエイターに合わせて、柔軟に設定してください。
          </br>
          <br>
          ・取引後も応援できる
          </br>
          <br>
          　ダウンロード行った人のみシェア投稿ができるコミュニティサイトを搭載しています。実際に依頼した3Dモデルを使用した感想(3Dプリンタで印刷したことやアバターとして外部サイトで利用したなど)を多くのユーザーにシェアすることでクリエイターを応援することができ、さらにあなたの活動もシェアすることができます。もちろんダウンロードを行っていない人も閲覧することはできますが、実際に投稿できるのは取引を行った人に限定されます。

        </div>
        <div class="Inner-Box">
          <h4 class="Inner-Box-Headline3">ModelMeを利用するに際しての重要なルール</h4>
          
          <br>
          サービスをよりよく、最適な形で利用者の皆様に提供できるように、利用規約とポリシーを設けました。その中でも特に目を通していただきたい内容をまとめました。
          <br>
          <br>
          ・クリエイターに対する質問や見積もり、打ち合わせ、リテイクに関する連絡は禁止しています。
          <br>
          <br>
          クリエイターにとって最大限に素晴らしい作品を生み出す環境を提供したいため、そしてクリエイターの自由な製作を尊重したいため、これらの行為を禁止しています。
          <br>
          <br>
          ・クリエイターの活動を制限しないでください。
          <br>
          <br>
          取引期間において外部のDMなどで催促を行うといった、クリエイターの活動を制限するような行為は禁止しています。
          <br>
          <br>
          <br>
          ・購入意欲にない依頼や共感は控えてください。
          <br>
          <br>
          返金など複雑なシステムをなくすため、支払いはダウンロード時のみに発生し、ダウンロードをしない限り支払いは発生しません。そのため共感はしてもダウンロードを行わない場合支払いが義務付けられないですが、クリエイターにとって大変迷惑になりますので、やむを得ない理由がない限りはおやめください。ご協力よろしくお願いいたします。
          <br>
       
        </div>
        <div class="Inner-Box">
          <h4 class="Inner-Box-Headline3">ModelMeの仕様</h4>
          <br>
          <br>
          ・サービスの対象作品
          <br>
          <br>
          3Dモデルのみです。外部で用いるためのアバターや、3Dプリンターで印刷するモデルなど様々な用途が考えられますが、3Dモデル以外の取引はできません。


          <br>
          <br>
          ・依頼の承認とキャンセル
          <br>
          <br>
          　依頼の中でもクリエイターは気に入った依頼のみを承認し、目標共感数設定を行います。承認されない場合、金額が低かったり、すでに他の依頼をされていたなどが考えられるので状況に応じて依頼内容の変更を行うようにしてください。また、依頼が承認されても、共感数が少ないため、実際の製作まで至らないこともあります。共感を得やすい内容にすることも取引成立のポイントとなります。

          

          <br>
          <br>
          ・金額と完成度
          <br>
          <br>
          　完成度はクリエイターが決定し、クライアントは完成度に異議を唱えることができません。どのような状態でも問題ないという条件に同意できない場合、本サービスを利用することができません。

          

          <br>
          <br>
          ・納期
          <br>
          <br>
          　依頼者側があらかじめ希望納期を設定します。短すぎるとクリエイターが承認しない可能性が考えられるのでバランスを考えるようにしてください。


          

          <br>
          <br>
          ・目標共感数・共感期限
          <br>
          <br>
          　共感はクリエイターの作品を待ち望んでいる人がどのぐらいいるかを表す指標となります。共感数が多いとクリエイターの製作意欲も高まるため、共感数が多いほど実際の取引につながる可能性が高まります。そのため、依頼がうまくいかなくても、共感を行うことも重要になります。


          

          <br>
          <br>
          ・支払いについて
          <br>
          <br>
          　3Dモデルダウンロード後に支払いが発生します。支払い方法はクレジットカード(JCB・MasterCard・VISA)のみになります。


          

          <br>
          <br>
          ・二次創作について
          <br>
          <br>
          　システムを稼働させていくうえで大きく調整を図る予定です。今現在では、運営者は二次創作について一切の責任を負いませんので、ご承知のほどよろしくお願いいたします。



          

          <br>
          <br>
          ・アカウントの凍結と削除
          <br>
          <br>
          　利用規約とポリシーに違反された場合は予告なくアカウントの凍結削除を行うことがあります。アカウントを削除すると、集金申請中を含むすべての売り上げが無効となります。またいかなる理由があっても一度削除されたアカウントの復旧は行えません。



          <br>
          <br>
          ・特定商取引に基づく表記
          <br>
          <br>
          　クリエイターの売上や出品状況によっては、特定商取引法に基づく表記により氏名や住所などを公開することが法律で義務づけられています。対象者はアカウントから特定商取引法に基づく表記を設定してください。運営が勝手に個人情報を公開することはありません。




          

          <br>
        </div>
        
      </div>
    </div>
  </div>
</div>
<br>
<br>
