<br>

<div id = "row-padding">
  <div class="row">
    <div class="col-lg-2 col-12">
      <p class="sample"></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to "利用規約", tou_policy_url,class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "プライバシーポリシー", privacy_policy_url,class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "特定商取引法に基づく表記", transaction_policy_url, class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "クリエイターガイドライン", creator_policy_url, class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "クライアントガイドライン", client_policy_url, class: "black-color cf no-text-decoration"%></li>
      </ul>
    </div>
    <div class="col-lg-10 col-12">
      
        
        <div class="Inner">
          <h2 class="Inner-Headline">クリエイターガイドライン</h2>
          <div class="Inner-Box">
            
            <br>
              まずはじめに、ModelMeはより良い3Dモデルの環境作りも目指して生み出されたサービスです。利用者皆様が心地よくサービスをご利用できるよう努めてまいりますが、至らぬ点が多々見受けられるかもしれません。不都合な点やご不明な点がございましたら、Twitterを通してご指摘、ご質問お待ちしております。
            </br>
          </div>
          <div class="Inner-Box">
            <h4 class="Inner-Box-Headline3">ModelMeとは</h4>
            
            <br>
            ModelMeとは依頼者が依頼を送り、さらに他のファンが依頼に共感し便乗し、それに対してあなたが3Dモデルを提供し、実際にダウンロードされたぶんだけの報酬がもらえるというサービスです。新たな作品のアイデアが生まれ、さらにそれを望む人・あなたを応援している人がどれだけいるかを可視化することで、あなたが作品を生み出す原動力となり、3Dモデル業界が発達することを目指しています。
            <br>
            <br>
            ・実際に作品を作りたいけどどんな作品を作ればいいのかな
            </br>
            <br>
            ・自分がこれから作る作品をどのくらいの人が欲しがるのかな
            </br>
            <br>
            ModelMeはこういったクリエイターの悩みを解決します。さらにModelMeのサービスはこれだけではなく、あなたが製作した3Dモデル作品がどのように活躍しているのかをユーザー全体に広げられるコミュニティを提供します。皆さんで3Dモデル業界を盛り上げていきましょう。
            
            </br>
          </div>
          <div class="Inner-Box">
            <h4 class="Inner-Box-Headline3">ModelMeの特徴</h4>
            <br>
            ・取引のスタートはクリエイターであるあなたの何気ない投稿
            </br>
            <br>
            　投稿内容は完成品や作成途中の作品などなんでもかまいません。気軽にあなたの技術を発信してみましょう。その”何気ない”投稿が応援ユーザーを生み出すきっかけとなり、応援ユーザーがあなたに依頼を送る原点となります。
            </br>
            <br>
            ・依頼内容は150字以内の１回のみ
            </br>
            <br>
            　複雑な取引メッセージをとおして依頼通りの作品を作るという今までの依頼ではなく、
            簡単なやり取りのみに限定して、型にとらわれることのない自由な製作を行いましょう。
            </br>
            <br>
            ・自分に合った依頼を選択できる
            </br>
            <br>
            　ModelMeは依頼内容・共感数・納期・チップの大きさを可視化する機能により、クリエ
            イターであるあなたの作品製作原動力を生み出します。そのため自分に合った形の依頼
            を受けることができます。
            </br>
            <br>
            ・様々な場で使用されているあなたの作品が拡散される
            </br>
            <br>
            　ModelMeにはシェア機能も搭載されています。作品を作ったらそこで終了の従来の取引
            　ではなく、取引後も3Dモデルを使用してみんなでシェアすることも応援になります。依　
            　頼から始まり、シェアによって次の作品の応援につながる、この一連の流れをModelMe
            　は提供します。

          </div>
          <div class="Inner-Box">
            <h4 class="Inner-Box-Headline3">ModelMeを利用するに際しての重要なルール</h4>
            
            <br>
            サービスをよりよく、最適な形で利用者の皆様に提供できるように、利用規約とポリシーを設けました。その中でも特に目を通していただきたい内容をまとめました。
            <br>
            <br>
            ・本サイト外で打ち合わせやリテイクを行わないでください。
            <br>
            <br>
　           素晴らしい3Dモデルを生み出す最適な環境を提供するためにご協力お願いいたします。

            <br>
            <br>
            ・ローカルルールを設定しないでください。
            <br>
            <br>
　            気軽に利用し、新しい作品がスムーズに生まれることを目指しています。
            <br>
            <br>
            
          </div>
          <div class="Inner-Box">
            <h4 class="Inner-Box-Headline3">ModelMeの仕様</h4>
            <br>
            <br>
            ・サービスの対象作品
            <br>
            <br>
             3Dモデルのみです。外部で用いるためのアバターや、3Dプリンターで印刷するモデルなど様々な用途が考えられますが、3Dモデル以外のアップロードはできません。

            <br>
            <br>
            ・依頼の承認とキャンセル
            <br>
            <br>
            　依頼が届いたら、承認するか決め、承認する場合目標共感数を設定してください。共感数は応援ユーザーが共感するかの目安になり、またクリエイターが作品をアップロードした際のダウンロード目安となります。（もちろん共感していなかった人もダウンロードできるため予想よりもダウンロード数が増えることもあり、反対に共感はしたがダウンロードしないユーザーが多い場合、予想よりもダウンロード数が少ないこともあります。）目標共感数を設定すると、応援ユーザーが共感できるようになります。共感数に応じて実際に製作するか決定してください。最終決定を行ってから製作を開始してください。
            

            <br>
            <br>
            ・金額と完成度
            <br>
            <br>
            　完成度は前もって保証せず、それぞれのリクエストの金額と内容に応じてクリエイターが柔軟に決めてください。

            

            <br>
            <br>
            ・納期
            <br>
            <br>
            　依頼者側があらかじめ希望納期を設定しているので、その内容も考慮して依頼の承認を行ってください。

            

            <br>
            <br>
            ・目標共感数・共感期限
            <br>
            <br>
            　共感はあなたの作品を待ち望んでいる人がどのぐらいいるかを表す指標となります。また目標共感数はあなたが作品を作り始める目安となります。応援ユーザーもあなたの作品を待ち望んでいるため目標共感数の指定が重要になります。目標共感数と共感期限は重要な指標となりますので、柔軟に設定するようにお願いいたします。

            

            <br>
            <br>
            ・二次創作について
            <br>
            <br>
            　システムを稼働させていくうえで大きく調整を図る予定です。今現在では、運営者は二次創作について一切の責任を負いませんので、ご承知のほどよろしくお願いいたします。


            

            <br>
            <br>
            ・アカウントの凍結と削除
            <br>
            <br>
            　利用規約とポリシーに違反された場合は予告なくアカウントの凍結削除を行うことがあります。アカウントを削除すると、集金申請中を含むすべての売り上げが無効となります。またいかなる理由があっても一度削除されたアカウントの復旧は行えません。


            <br>
            <br>
            ・特定商取引に基づく表記
            <br>
            <br>
            　クリエイターの売上や出品状況によっては、特定商取引法に基づく表記により氏名や住所などを公開することが法律で義務づけられています。対象者はアカウントから特定商取引法に基づく表記を設定してください。運営が勝手に個人情報を公開することはありません。



            

            <br>
          </div>
          
        </div>
        
        
      
    </div>
  </div>
</div>
<br>
<br>
