<br>

<div id = "row-padding">
  <div class="row">
    <div class="col-lg-2 col-12">
      <p class="sample"></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to "利用規約", tou_policy_url,class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "プライバシーポリシー", privacy_policy_url,class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "特定商取引法に基づく表記", transaction_policy_url, class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "クリエイターガイドライン", creator_policy_url, class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "クライアントガイドライン", client_policy_url, class: "black-color cf no-text-decoration"%></li>
      </ul>
    </div>
    <div class="col-lg-10 col-12">
      
        
        
        
      
        <div class="container">
          <div class="Inner">
            <h2 class="Inner-Headline">利用規約</h2>
            <p class="Inner-Text first">本利用規約は、個人事業としてスタートしたModelMeが提供するサービスにおいて、管理者と本サービスを利用する利用者間で合意されるものです。利用者様の皆様にとって心地よいサービスを提供できることを第一と考えており、不具合や利用者様にご不便をおかけしてしまった場合即座に利用規約の細かい改善を図ります。まだまだスタート仕立ての事業ですが、何か疑問点やご不便が生じた場合、お手数ですがTwitterのほうまでご連絡をお願い申し上げます。</p>
            <div class="Inner-Box">
              <h3 class="Inner-Box-Headline">第1条　定義</h3>
              本利用規約では、以下の用語を使用します。
              <ol class="Inner-Box-List">
                <li class="Inner-Box-List-Item">「投稿コンテンツ」とは、利用者が本サービスに投稿、送信、アップリードしたデータのことを指します。</li>
                <li class="Inner-Box-List-Item">「作品」とは、依頼者や共感者の提案を元に生み出された作品のことを指します。</li>
                <li class="Inner-Box-List-Item">「販売者」とは依頼者や共感者の提案を元に作品を制作する人のことを指します。</li>
                <li class="Inner-Box-List-Item">「購入者」とは販売者の作品をダウンロードする人のことを指します。</li>
              </ol>
            </div>
            <div class="Inner-Box">
              <h3 class="Inner-Box-Headline">第2条　同意</h3>
              <ol class="Inner-Box-List">
              　<li class="Inner-Box-List-Item">利用者は利用規約とポリシーに対し有効かつ取消不能な同意をしない限り、本サービスを利用できません。</li>
                <li class="Inner-Box-List-Item">利用者が未成年である場合、親権者の有効かつ取消不能な同意が必要です。</li>
                <li class="Inner-Box-List-Item">利用者が本サービスを事業者のために利用する場合は、当該事業者も規約とポリシーに同意しない限り、本サービスを利用できません。</li>
                <li class="Inner-Box-List-Item">利用者は、本サービスを実際に利用することによって、規約とポリシーに有効かつ取消不能同意をしたものとみなされます。</li>
              </ol>
            </div>
            <div class="Inner-Box">
              <h3 class="Inner-Box-Headline">第3条　本サービスの提供</h3>
              <ol class="Inner-Box-List">
                <li class="Inner-Box-List-Item">利用者は本サービスを利用するにあたって、必要なパーソナルコンピュータ、携帯電話機、通信機器、オペレーションシステム、通信手段および電力などを、利用者の費用と責任で用意しなければなりません。</li>
                <li class="Inner-Box-List-Item">運営者は本サービスの全部または一部を、年齢、本人確認の有無、登録情報の有無、その他、運営者が必要と判断する条件を満たした利用者に限定して提供することができるものとします。</li>
                <li class="Inner-Box-List-Item">運営差は運営者が必要と判断する場合，あらかじめ利用者に通知することなく、いつでも、本サービスの全部または一部の内容を変更し、また、その提供の中止することができるものとします。</li>
              </ol>
            </div>
            <div class="Inner-Box">
              <h3 class="Inner-Box-Headline">第4条　アカウント</h3>
              <ol class="Inner-Box-List">
                <li class="Inner-Box-List-Item">利用者は本サービスの利用に際して利用者自身に関する情報を登録する場合、真実かつ正
                確かつ完全な情報を提供しなければならず、常に最新の情報となるように修正しなければなりません。
                </li>
                <li class="Inner-Box-List-Item">利用者は、利用者のアカウントが不正に利用されないよう自身の責任で厳重に管理しなけ
                ればなりません。運営会社は利用者のアカウントを利用して行われた一切の行為を利用者本人の行為とみなすことはできます。
                </li>
                <li class="Inner-Box-List-Item">利用者は、いつでも利用者のアカウントを削除して退会することができます。</li>
                <li class="Inner-Box-List-Item">運営者は利用者が規約とポリシーに違反また違反するおそれはあると認めた場合、あらか
                じめ利用者に通知することなく、アカウントの停止、削除または変更などの措置を行うことができるものとし、これらの措置を講じた理由を開示する義務を負うものではありません。
                </li>
                <li class="Inner-Box-List-Item">運営会社は最終ログインから１年以上経過しているアカウントを、利用者へ執行日1か月
                前までに登録メールアドレスへの事前通知によって、停止または削除することができます。
                </li>
                <li class="Inner-Box-List-Item">利用者は、停止されたアカウントに対して、再度ログインですることで停止を終了するこ
                とができます。
                </li>
                <li class="Inner-Box-List-Item">停止または削除されたアカウントは、紐付けされていた未振込売上が失効します。</li>
                <li class="Inner-Box-List-Item">利用者の本サービスにおける全ての利用権は、理由を問わず、アカウントが削除された時
                点で消滅します。利用者が誤ってアカウントを削除した場合であっても、アカウントの復
                旧はできません。
                </li>
                <li class="Inner-Box-List-Item">利用者のアカウントは利用者に一身専属的に帰属します。利用者の本サービスにおける全
                ての利用権は第三者に譲渡、貸与または相続させることはできません。
                </li>
              </ol>
            </div>
            <div class="Inner-Box">
              <h3 class="Inner-Box-Headline">第5条　広告表示</h3>
              <br>
                運営者は本サービスに運営者または第三者の広告を掲載できるものとします。
              </br>
            </div>
            <div class="Inner-Box">
              <h3 class="Inner-Box-Headline">第6条　知的財産権の帰属および使用許諾</h3>
              <ol class="Inner-Box-List">
                <li class="Inner-Box-List-Item">作品の著作権、その他の一切の権利は販売者に帰属します。</li>
                <li class="Inner-Box-List-Item">運営者および運営者が個別に許可した事業者は、投稿コンテンツに関して、本サービスの
                役務の提供、利用促進、改良、メンテナンス、運営者、または本サービスの広告、宣伝に必要な範囲内で、無償かつ非独占的に使用および改変等をすることができるものとし、利用者はこれを許諾するものとします。
                </li>
                <li class="Inner-Box-List-Item">運営者および運営者が個別に許可した事業者は、前項に定める形で投稿コンテンツの情報
                を使用するに当たっては、情報の一部または氏名表示を省略することができるものとします。
                </li>
              </ol>
            </div>
            <div class="Inner-Box">
              <h3 class="Inner-Box-Headline">第7条　禁止行為</h3>
              利用者は、本サービスの利用にあたり、次の行為を行ってはなりません。
              <ol class="Inner-Box-List">
              <li class="Inner-Box-List-Item">第三者の著作物を二次利用する場合において、権利者利益を不当に害する行為</li>
              <li class="Inner-Box-List-Item">商標権、特許権等の知的財産権、名誉権、プライバシー権、その他法令上または契約上
              の権利を侵害する行為
              </li>
              <li class="Inner-Box-List-Item">法令、裁判所の判決、決定もしくは命令、または法令上拘束力のある行政措置に違反す
              る行為
              </li>
              <li class="Inner-Box-List-Item">公の秩序または善良の風俗を害するおそれのある行為</li>
              <li class="Inner-Box-List-Item">過度に暴力的な表現、露骨な性的表現、人種、国籍、信条、性別、社会的身分、門地等
              による差別につながる表現、自殺、自傷行為、薬物乱用を誘引または助長する表現、その他反社会的な内容を含み他人に不快感を与える表現を、投稿または送信する行為
              </li>
              <li class="Inner-Box-List-Item">運営会社または第三者になりすます行為</li>
              <li class="Inner-Box-List-Item">意図的に虚偽の情報を流布させる行為</li>
              <li class="Inner-Box-List-Item">本サービスのアカウントを第三者に譲渡または貸与する行為</li>
              <li class="Inner-Box-List-Item">運営会社が認めていない営業、宣伝、広告、勧誘、その他営利を目的とする行為</li>
              <li class="Inner-Box-List-Item">作品を、販売者の許可なく個人の私的利用を超えて使用する行為</li>
              <li class="Inner-Box-List-Item">面識のない異性との出会いや交際を目的とする行為</li>
              <li class="Inner-Box-List-Item">他の利用者に対する嫌がらせや誹謗中傷を目的とする行為</li>
              <li class="Inner-Box-List-Item">反社会的勢力に対する利益供与その他の協力行為</li>
              <li class="Inner-Box-List-Item">宗教活動または宗教団体への勧誘行為</li>
              <li class="Inner-Box-List-Item">他人の個人情報、登録情報、利用履歴情報などを、不正に収集、開示または提供する行
              為
              </li>
              <li class="Inner-Box-List-Item">本サービスのサーバやネットワークシステムに支障を与える行為</li>
              <li class="Inner-Box-List-Item">本サービスを介さず、APIサーバーにアクセスする行為</li>
              <li class="Inner-Box-List-Item">BOT、スクレイピング、その他の技術的手段を利用してサービスを不正に操作する行為</li>
              <li class="Inner-Box-List-Item">本サービスの不具合を意図的に利用する行為</li>
              <li class="Inner-Box-List-Item">同様の質問を必要以上に繰り返す等、運営会社に対し不当な問い合わせまたは要求をす
              る行為
              </li>
              <li class="Inner-Box-List-Item">本サービスの運営または他の利用者による本サービスの利用を妨害し、これらに支障を
              与える行為
              </li>
              <li class="Inner-Box-List-Item">運営会社が委託する事業者の利用規約に違反する行為</li>
              <li class="Inner-Box-List-Item">その他、運営会社が不適当と判断した行為</li>
              
              </ol>
            </div>
            <div class="Inner-Box">
              <h3 class="Inner-Box-Headline">第8条　投稿コンテンツの削除・非表示</h3>
              <br>
              運営者は次の場合には、投稿コンテンツの非表示、または削除などの措置を行うことができるものとし、これらの措置を講じた理由を開示する義務を負うものではありません。
              <ol class="Inner-Box-List">
                <li class="Inner-Box-List-Item">運営者が、投稿コンテンツが決済代行事業者、その他の運営会社委託企業が定める利用規約に違反する恐れがあると判断した場合</li>
                <li class="Inner-Box-List-Item">運営者が投稿コンテンツが第三者の権利者利益を侵害していると判断した場合</li>
                <li class="Inner-Box-List-Item">第三者が、運営者へ権利主張の申し立てを行い、運営者はその主張を妥当であると判断した場合</li>
                <li class="Inner-Box-List-Item">公的な機関、特定電気通信役務提供者の損害賠償責任の制限および発信者情報の開示に関する法律のガイドラインに規定された信頼性確認団体、インターネット・ホットライン，弁護士から公序良俗違反または第三者の権利を侵害するなどの指摘があった場合</li>
                <li class="Inner-Box-List-Item">その他、規約とポリシーに違反しているかにかかわらず、運営者が本サービスの運営において、不適切であると判断した場合</li>
              </ol>
            </div>
            <div class="Inner-Box">
              <h3 class="Inner-Box-Headline">第9条　利用者の責任</h3>
              <ol class="Inner-Box-List">
                <li class="Inner-Box-List-Item">利用者は運営者に対して、投稿コンテンツが著作権法を含む法令および規約とポリシーに違反していないことを保証するものとします。</li>
                <li class="Inner-Box-List-Item">利用者は、利用者の責任において本サービスを利用するものとし、本サービスにおいて行った一切の行為およびその結果について一切の責任を負うものとします。</li>
                <li class="Inner-Box-List-Item">運営者は利用者が本規約に違反して本サービスを利用していると認めた場合、運営者が必要かつ適切と判断する措置を講じます。ただし、運営者は、ぁぁるいはんを防止または是正する義務は負いません。</li>
                <li class="Inner-Box-List-Item">利用者は、本サービスを利用したことに起因して、運営者が直接的もしくは間接的に何等かの損害を被った場合、運営者の請求に従って直ちにこれを補償しなければなりません。</li>
                <li class="Inner-Box-List-Item">販売者は作品に対しての一切の責任を負うものとし、販売責任者として、法令および経済産業省制定「電子商取引及び情報財取引等にかんする準則」をはじめとする各ガイドラインを遵守することを保証します。</li>
                <li class="Inner-Box-List-Item">利用者は運営者が経済産業省制定「電子商取引及び情報財取引等にかんする準則」で定める「ユーザー間取引プラットフォームサービスの運営事業者」であることを確認し、作品に対して一切の責任を負わないことに同意します。</li>
                <li class="Inner-Box-List-Item">利用者は、作品に関する紛争を販売者と購入者の二者間のみで解決することに同意します。</li>
              </ol>
              <br>
              <strong>
                取引に金銭が生じてしまうため、責任をもって取引をお願いいたします。ModelMeは、クリエイターが気持ちよく作品を生み出すことのできる環境を提供すること、そしてその環境が素晴らしい作品を生み出すことにつながるということを理念としています。そのためクリエイターと依頼者、共感者にとって使いやすいサービスになるように努めてまいります。しかし「依頼と違った内容」といったトラブルは運営者では判断できません。また最終的なダウンロードは依頼者や共感者の皆様の決断にゆだねられます。そのため、作品に関する問い合わせには運営者は対応できません。ご理解よろしくお願い申し上げます。
              </strong>
              </div>
            <div class="Inner-Box">
              <h3 class="Inner-Box-Headline">第10条　運営者の免責</h3>
              <ol class="Inner-Box-List">
                <li class="Inner-Box-List-Item">運営者は、本サービスは事実上または法律上の瑕疵がないことを明示的にも黙示的にも保証いたしません、運営者は利用者に対して、かかる瑕疵を除去して本サービスを提供する義務を負いません。</li>
                <li class="Inner-Box-List-Item">運営者は本サービスに起因して利用者に生じたあらゆる損害について一切の責任を負いません。ただし、本サービスに関する運営者と利用者との間の契約が消費者契約法に定める消費者契約となる場合は、この面積規定は適用されません。</li>
                <li class="Inner-Box-List-Item">運営者は運営者の過失による債務不履行または不法行為により利用者に生じた損害のうち、天災や事故などの特別な事情から生じた損害について一切の責任を負いません。</li>

              </ol>
              <br>
              <strong>
                このサービスは何等かの金銭的な問題が発生した場合も、ほとんどの場合において運営者は責任を負いません。
              </strong>
            </div>
            <div class="Inner-Box">
              <h3 class="Inner-Box-Headline">第11条　プライバシー</h3>
              <br>
              運営会社は利用者の個人情報をプライバシーポリシーに基づき適切に取り扱うものとします。
            </div>
            <div class="Inner-Box">
              <h3 class="Inner-Box-Headline">第12条　準拠法及び管轄裁判所</h3>
              <br>
              本利用規約の準拠法は日本法とし、運営者と利用者の間で訴訟の必要が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
              
            </div>
            <div class="Inner-Box">
              <h3 class="Inner-Box-Headline">第13条　改定</h3>
              <br>
              運営者は本利用規約について、事前に利用者に適切な周知を行うことで、利用者の同意を得ず、改定できるものとします。
              </br>
              <br>
              <strong>利用規約の変更に当たっては、Twitterなどを通して告知いたします。日々サービス向上を目指してまいりますので、ご理解のほどよろしくお願い申し上げます。

              繰り返しになりますが、ModelMeは素晴らしい作品が生み出される環境作りを目指して、利用者の皆様にとって心地よいサービスを提供できるよう日々努めてまいります。そのため様々な変更点が生まれることが予想されますが、皆様のご協力よろしくお願い申し上げます。
              </strong>
              </br>
            </div>
          </div>
        </div> 
      
    </div>
  </div>
</div>
<br>
<br>


