<br>

<div id = "row-padding">
  <div class="row">
    <div class="col-lg-2 col-12">
      <p class="sample"></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to "利用規約", tou_policy_url,class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "プライバシーポリシー", privacy_policy_url,class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "特定商取引法に基づく表記", transaction_policy_url, class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "クリエイターガイドライン", creator_policy_url, class: "black-color cf no-text-decoration"%></li>
        <li class="list-group-item"><%= link_to "クライアントガイドライン", client_policy_url, class: "black-color cf no-text-decoration"%></li>
      </ul>
    </div>
    <div class="col-lg-10 col-12">
      <div class="container">
      <div class="Inner">
        <h2 class="Inner-Headline">特定商取引法に基づく表記</h2>
        <div class="Inner-Box">
          <h4 class="Inner-Box-Headline2">役務の内容</h4>
          
          <br>
            3Dモデルの限定した依頼者とクリエイターのマッチング、3Dモデルの販売サイト、コミュニティサイト
          </br>
        </div>
        <div class="Inner-Box">
          <h4 class="Inner-Box-Headline2">役務の対価</h4>
          
          <br>
            購入者と販売者間で決定した価格に対する15%の手数料
          </br>
        </div>
        <div class="Inner-Box">
          <h4 class="Inner-Box-Headline2">役務の対価以外の必要料金</h4>
          
          <br>
            集金申請1回につき300円の事務手数料
          </br>
        </div>
        <div class="Inner-Box">
          <h4 class="Inner-Box-Headline2">役務対価の支払い方法</h4>
          
          <br>
            購入者のクレジットカード決済時に自動差し引き
          </br>
        </div>
        <div class="Inner-Box">
          <h4 class="Inner-Box-Headline2">役務対価の支払い時期</h4>
          
          <br>
            購入者との取引完了時(購入者のダウンロード時)
          </br>
        </div>
        <div class="Inner-Box">
          <h4 class="Inner-Box-Headline2">役務の提供時期</h4>
          
          <br>
            当該手続き完了後即時
          </br>
        </div>
        <div class="Inner-Box">
          <h4 class="Inner-Box-Headline2">連絡先</h4>
          
          <br>
            Twitter
          </br>
        </div>
        <div class="Inner-Box">
          <h4 class="Inner-Box-Headline2">役務の取り扱い方法</h4>
          
          <br>
            役務の性質上不可
          </br>
          <br>
          <br>
          上記以外の事項に関しましては、お取引の際に適切な理由により請求があれば遅延なく提示いたします。遅延なく提示するための措置を講じています。何かあればTwitterまでよろしくお願い申し上げます。
          様々な改善を行うためにも、何か不都合が生じた場合に最大２日以内のご回答させていただきます。お気軽にTwitterまでお問い合わせください。


        </div>

      </div>
    </div> 
        
       
      
    </div>
  </div>
</div>
<br>
<br>
